<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" href="./src/style.css" />
</head>
<body>
    <h1>{{ title }}</h1>
    <p class="description">{{ description }}</p>
    <div class="tags">
        <span>tags:</span>
        {% if tags.len() > 0 %}{% for tag in tags %}<a href="{{ tag.url }}">{{ tag.name }}</a>
        {% if tags.len() > 1 && loop.index < tags.len() %}{% endif %}{% endfor %}{% else %}<span>none</span>{% endif %}
    </div>
    <main>
{{ body|safe }}
    </main>
</body>
</html>
<script>hljs.highlightAll();</script>
<script>
window.addEventListener('DOMContentLoaded', function() {
    // display数式
    document.querySelectorAll('span.math.math-display').forEach(function(span) {
        try {
            katex.render(span.textContent, span, {displayMode: true, throwOnError: false});
        } catch(e) {}
    });
    // inline数式
    document.querySelectorAll('span.math.math-inline').forEach(function(span) {
        try {
            katex.render(span.textContent, span, {displayMode: false, throwOnError: false});
        } catch(e) {}
    });
});
</script>