<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <link rel="stylesheet" href="./src/style.css" />
</head>
<body>
    <h1>{{ title }}</h1>
    <div>
        <span>tags:</span>
        {% if tags.len() > 0 %}{% for tag in tags %}<a href="{{ tag.url }}">{{ tag.name }}</a>
        {% if tags.len() > 1 && loop.index < tags.len() %}{% endif %}{% endfor %}{% else %}<span>none</span>{% endif %}
    </div>
    <main>
{{ body|safe }}
    </main>
</body>
</html>
