:root {
    color-scheme: dark;
}

main {
    padding: 10px;
}

.section {
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid red;
}

pre {
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: monospace;
}